// *{
//     margin: 0rem;
//     padding: 0rem;
// }    
body{
    background-color: oldlace;
    margin: 0 auto;
    width: 80%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    #container{
        header{
            color: whitesmoke;
            background-image: linear-gradient(to right, rgb(17, 17, 96), rgba(135, 207, 235, 0.867), whitesmoke);
            background-size: 200% 100%;
            border: thick solid whitesmoke;
            height: 9.375rem;
            font-size: 1.5vw;
            line-height: 9.375rem;
            text-align: center;
            transition: background-position 2s ease-in, color 2s ease-in;
            cursor: pointer;
            &:hover{
                background-position: 90% 0;
                color: black;
            }
        }
        aside{
            float: left;
            width: 25%;
            min-height: 45rem;
            font-size: 1.5vw;
            line-height: 9.375rem;
            text-align: center;
            background-color: aliceblue;
        }
        footer{
            float: left;
            background-color: rgb(212, 220, 238);
            height: 1rem;
            width: 100%;
            margin-bottom: 1rem;
        }
        
        }
    }
    #articles{
        float: left;
        width: 75%;
        min-height: 45rem;
            article{
                background-color: transparent;
                width: 25%;
                height: 9.375rem;
                margin: 1rem;
                float: left;
                line-height: 9.375rem;
                border: .3rem outset whitesmoke;
                text-align: center;
                margin: .5rem;
                cursor: pointer;
                &:hover{
                    background-color: black;
                    width: 26%;
                    box-shadow: .2rem .2rem .8rem .1rem black;
                }
            }
        }
@media (max-width: 55.5rem){
    #articles article{
        background-color: red;
        width: 40%;
    }
}
article > img{
    object-fit: contain;
    width: 100%;
}
.texto-central{
    font-size: 1.25vw;
    float: left;
    margin-right: 3rem;
    padding-right: 4rem;
    text-align: center;
    line-height: 2em;
}